body {
  margin: 0;
  height: 100vh;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 80vw;
}

#root, .App {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
}

header div {
  background-color: lightgrey;
}

main {
  padding: 55px 0 20px 0;
  margin-bottom: 20px;
  margin: 0 auto auto auto;
}

footer {
  width: 100%;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lightgray;
  height: 50px;
}

footer div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: black;
  font-size: 13px;
}

footer div a span {
  font-family: 'Dancing Script', cursive;
  font-size: 13px;
}

footer div a svg {
  font-size: 14px !important;
}

.navbar__logged-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar__logged-side a {
  white-space: nowrap;
}

.navbar__logged-side a:nth-child(2):hover svg {
  color: #6594fa;
}

.navbar__logged-side a:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__logged-side a:last-child:hover svg {
  color: #6594fa;
}

.navbar__home-side {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-input {
  width: 400px;
}

.search-input svg {
  color: gray;
}

.search-input:hover svg {
  color: #6594fa;
}

.search-input input {
  color: grey;
  font-size: 18px;
  height: 20px;
}

.search-input input:focus {
  color: black !important;
}

.MuiToolbar-root {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.MuiToolbar-root a {
  padding: 10px;
  border-radius: 3px;
  margin-left: 10px;
  text-decoration: none;
  font-weight: bolder;
  color: white;
}

.MuiToolbar-root a:hover {
  background-color: rgba(128, 128, 128, 0.15);
}

.MuiToolbar-root a:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0px;
}

.MuiToolbar-root a:first-child:hover svg {
  color: #6594fa;
}

.MuiToolbar-root div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar-list {
  width: 230px;
}

.form-login {
  text-align: center;
  width: 400px;
  margin: auto;
  padding: 20px;
}

.form-login__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.form-login__input label {
  margin-right: 10px;
}

.form-login__input input {
  height: 20px;
  width: 200px;
  border-radius: 3px;
}

.form-login__table {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.form-login__column-one {
  text-align: right;
  padding-right: 10px;
  font-weight: bold;
}

.form-login__column-two {
  width: 200px;
  font-weight: normal;
  text-align: left;
}

.form-login__ctrl {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-login__btn-cancel {
  width: 206px;
  display: inherit;
}

.form-login__btn-submit {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: inherit;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 10px;
}

.form-login__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  color: red;
  height: 40px;
  justify-content: center;
}

.form-signup {
  text-align: center;
  width: 400px;
  margin: auto;
  padding: 20px;
}

.form-signup__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.form-signup__input label {
  margin-right: 10px;
}

.form-signup__input input {
  height: 20px;
  width: 200px;
  border-radius: 3px;
}

.form-signup__ctrl {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-signup__btn-cancel {
  width: 206px;
  display: inherit;
}

.form-signup__btn-submit {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: inherit;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 10px;
}

.form-signup__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  color: red;
  height: 40px;
  justify-content: center;
}

.form-resume__editor-ctrl {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.form-resume__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-resume__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.form-resume__input {
  height: 40px;
  width: 100%;
  font-size: 1.75em;
}

.form-resume__ctrl {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  width: 100%;
  text-align: right;
  margin: 10px 0 20px 0;
}

.form-resume__button {
  margin-left: 10px !important;
}

.form-application {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-application__header {
  display: inherit;
  -webkit-box-flex: 1 !important;
      -ms-flex-positive: 1 !important;
          flex-grow: 1 !important;
  padding: 5px !important;
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
  height: 70px;
}

.form-application__header a {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.form-application__title {
  width: 320px;
  margin: 0 5px auto auto !important;
}

.form-application__company {
  width: 250px;
  margin: 0 auto auto 5px !important;
}

.form-application__link {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 auto auto 5px !important;
}

.form-application__status {
  margin: 0 auto auto 5px !important;
  min-width: 120px !important;
}

.form-application__star {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.form-application__star--true {
  color: #ffc107;
}

.form-application__star--true svg {
  font-size: 2rem;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
}

.form-application__star--true svg:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.form-application__star--false {
  color: lightgray;
}

.form-application__star--false svg {
  font-size: 2rem;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
}

.form-application__star--false svg:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.form-application__forms {
  display: inherit;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-application__form-title {
  text-align: left;
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: bolder;
}

.form-application__form-job, .form-application__form-resume {
  width: 50%;
  padding: 5px;
}

.form-application__form-cl {
  margin: auto 5px 10px 5px;
}

.form-application__followup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.form-application__show-hide--icon {
  background-color: lightblue !important;
  color: white !important;
  height: 30px !important;
}

.form-application__show-hide--icon svg {
  font-size: 18px;
}

.form-application__show-hide--icon:hover svg {
  color: #6594fa;
}

.form-application__followup-ctrl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 10px;
}

.form-application__followup-ctrl a {
  -webkit-box-sizing: unset;
          box-sizing: unset;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 30px;
}

.form-application__followup-list {
  text-align: left;
}

.form-application__followup-item {
  padding: 5px 0;
  color: grey;
}

.form-application__followup-item:hover {
  background-color: #d3d3d345;
  color: black;
}

.form-application__followup-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
}

.form-application__followup-date a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.form-application__followup-date a svg {
  color: #ff97b9;
  font-size: 20px;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
}

.form-application__followup-date a svg:hover {
  color: red;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.form-application__followup-span {
  font-weight: bolder;
}

.form-application__followup-text {
  margin-top: 5px;
  padding: 0 5px 0 20px;
}

.form-application__followup-display, .form-application__followup-list-input {
  width: 50%;
  padding: 5px;
}

.form-application__followup-input {
  width: -webkit-fill-available;
  width: 100%;
  min-height: 60px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  font-size: 15px;
}

.form-application__date {
  width: 145px;
  -webkit-box-sizing: unset;
          box-sizing: unset;
}

.form-application__ctrl {
  width: 100%;
  text-align: right;
  margin: 10px 0;
}

.form-application__button {
  margin-left: 5px !important;
}

.table-applications__star--true {
  color: #ffc107;
}

.table-applications__star--true svg {
  font-size: 1.5rem;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
}

.table-applications__star--true svg:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.table-applications__star--false {
  color: lightgray;
}

.table-applications__star--false svg {
  font-size: 1.5rem;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
}

.table-applications__star--false svg:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.table-applications__row-job-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-applications__row-job-title a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.table-applications__row-job-title a svg {
  font-size: 1.4rem;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
  color: #ff97b9;
}

.table-applications__row-job-title a svg:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  color: red;
}

.table-simple__table-row {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-simple__table-row a:first-child {
  display: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  margin-right: 10px;
}

.table-simple__table-row a:first-child svg {
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
  font-size: 20px;
  color: #ff97b9;
}

.table-simple__table-row a:first-child svg:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  color: red;
}

.table-simple__table-row a:nth-child(2) {
  display: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
}

.table-simple__table-row a:nth-child(2) svg {
  margin-left: 5px;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
  font-size: 20px;
}

.table-simple__table-row a:nth-child(2) svg:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.table-simple__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  color: red;
  height: 40px;
  justify-content: center;
}

.about__div {
  margin-top: 5rem;
}

.about__img {
  width: 180px;
  border-radius: 50%;
}

.about__name {
  font-size: 1.8rem;
  margin-top: 1rem;
  font-weight: lighter;
}

.about__title {
  font-size: 1.1rem;
  font-weight: bolder;
  margin-top: 0.5rem;
}

.about__technologies, .about__social-media {
  margin-top: 3rem;
  font-weight: lighter;
}

.about__technologies div:first-child, .about__social-media div:first-child {
  font-size: 1.2rem;
}

.about__technologies div:nth-child(2), .about__social-media div:nth-child(2) {
  margin-top: 1rem;
}

.about__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__icon {
  width: 60px;
  margin: 10px;
}

.about__icon-social-media {
  height: 20px;
  margin: 0 15px 10px 15px;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
}

.about__icon-social-media:hover {
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
}

.MuiGrid-container {
  width: auto !important;
}

.MuiButtonBase-root:hover div:first-child svg {
  color: #6594fa;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 700px;
  padding: 40px;
  margin: auto;
}

.profile .MuiTextField-root {
  margin: 5px 0;
}

.profile__info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.profile__pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 160px;
  width: 160px;
  border: 1px solid lightgrey;
  margin: 10px;
}

.profile__pic svg {
  font-size: 100px;
}

.profile__name-email-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.profile__name-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.profile__password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 20px;
}

.profile__ctrl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.profile__input {
  width: 320px;
  margin-right: 5px !important;
}

.error-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: red;
  height: 40px;
  justify-content: center;
  margin-top: 10px;
}
/*# sourceMappingURL=index.css.map */