$iconColorHover: rgb(101, 148, 250);
$navbarButtonColorHover: rgba(128, 128, 128, 0.15);
$navbarBGColor: rgba(255, 255, 255, 0.25);
$navbarInputBGColor: rgba(255, 255, 255, 0.5);
$borderRadius: 3px;
$buttonSaveBGColor: rgba(5, 117, 5, 0.788);
$buttonCancelBGColor: #f50556;
$buttonAddBGColor: lightblue;
$buttonIconSize: 18px;
$fadeRedColor: #ff97b9;
$redColor: red;
$marginBetweenEl: 10px;

@mixin displayFlex ($justifyContent){
  display: flex;
  justify-content: $justifyContent;
  align-items: center;
}

body {
  margin: 0;
  height: 100vh;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 80vw;
}

#root, .App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  div {
    background-color: lightgrey;
  }
}

main {
  padding: 55px 0 20px 0;
  margin-bottom: 20px;
  margin: 0 auto auto auto;
}

footer {
  width: 100%;
  div {
    @include displayFlex(center);
    background-color: lightgray;
    height: 50px;
    a {
      @include displayFlex(center);
      text-decoration: none;
      color: black;
      font-size: 13px;
      span {
        font-family: 'Dancing Script', cursive;
        font-size: 13px;
      }
      svg {
        font-size: 14px !important;
      }
    }
  }
}

.navbar {
  &__logged-side {
    @include displayFlex(center);
    flex-direction: row;
    a {
      white-space: nowrap;
    }
    a:nth-child(2):hover svg {
      color: $iconColorHover;
    }
    a:last-child {
      @include displayFlex(center)
    }
    a:last-child:hover svg {
      color: $iconColorHover;
    }
  }
  &__home-side {
    display: flex !important;
    align-items: center;
  }
}

.search-input {
  width: 400px;
  svg {
    color: gray;
  }
  &:hover {
    svg {
      color: $iconColorHover;
    }
  }
  input {
    color: grey;
    font-size: 18px;
    height: 20px;
    &:focus {
      color: black !important;
    }
  }
  
}

.MuiToolbar-root {
  flex-grow: 1;
  justify-content: space-between;
  a {
    padding: 10px;
    border-radius: $borderRadius;
    margin-left: 10px;
    text-decoration: none;
    font-weight: bolder;
    color: white;
    &:hover {
      background-color: $navbarButtonColorHover;
    }
    &:first-child {
      @include displayFlex(center);
      margin-left: 0px;
    }
    &:first-child:hover svg {
      color: $iconColorHover;
    }
  }
  div:last-child {
    display: flex;
  }
}

.sidebar-list {
  width: 230px;
}

.form-login {
  text-align: center;
  width: 400px;
  margin: auto;
  padding: 20px;
  &__input {
    @include displayFlex(flex-end);
    margin-bottom: 10px;
    label {
      margin-right: 10px;
    }
    input {
      height: 20px;
      width: 200px;
      border-radius: $borderRadius;
    }
  }
  &__table {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__column-one {
    text-align: right;
    padding-right: 5px;
    font-weight: bold;
  }
  &__column-two {
    width: 200px;
    font-weight: normal;
    text-align: left;
    padding-left: 5px;
  }
  &__ctrl {
    margin-top: $marginBetweenEl*2;
  }
  &__message {
    @include displayFlex(center);
    margin-bottom: $marginBetweenEl;
    color: $redColor;
    height: 40px;
    justify-content: center;
  }
}

.form-signup {
  text-align: center;
  width: 400px;
  margin: auto;
  padding: 20px;
  &__input {
    @include displayFlex(flex-end);
    margin-bottom: 10px;
    label {
      margin-right: 10px;
    }
    input {
      height: 20px;
      width: 200px;
      border-radius: $borderRadius;
    }
  }
  &__ctrl {
    margin-top: $marginBetweenEl*2;
  }
  &__message {
    @include displayFlex(center);
    margin-bottom: $marginBetweenEl;
    color: $redColor;
    height: 40px;
    justify-content: center;
  }
}

.form-resume {
  &__editor-ctrl {
    justify-content: center;
    margin-bottom: $marginBetweenEl*2;
  }
  &__form {
    @include displayFlex(center);
    margin: auto;
    flex-direction: column;
  }
  &__title {
    display: flex;
    width: 100%;
    margin-bottom: $marginBetweenEl;
  }
  &__input {
    height: 40px; 
    width: 100%;
    font-size: 1.75em;
  }
  &__ctrl {
    justify-content: right;
    width: 100%;
    text-align: right;
    margin: $marginBetweenEl 0 $marginBetweenEl*2 0;
  }
  &__button {
    margin-left: $marginBetweenEl !important;
  }
  &__message {
    @include displayFlex(center);
    margin-bottom: $marginBetweenEl;
    color: $redColor;
    height: 40px;
    justify-content: center;
  }
}

.form-application {
  display: flex;
  flex-direction: column;
  &__header {
    display: inherit;
    flex-grow: 1 !important;
    padding: 5px !important;
    a {
      align-self: flex-end;
    }
  }
  &__title {
    width: 320px;
    margin-right: 5px !important;
  }
  &__company {
    width: 250px;
    margin: auto 5px !important;
  }
  &__link {
    flex-grow: 1;
    margin: auto 5px !important;
  }
  &__status {
    margin: auto 5px !important;
    min-width: 120px !important;
  }
  &__star--true {
    color: #ffc107;
    svg {
      font-size: 2rem;
      transition: transform .25s;
      &:hover {
        transform: scale(1.25);
      }
    }
  }
  &__star--false {
    color: lightgray;
    svg {
      font-size: 2rem;
      transition: transform .25s;
      &:hover {
        transform: scale(1.25);
      }
    }
  }
  &__forms {
    display: inherit;
    justify-content: space-between;
  }
  &__form-title {
    text-align: left;
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-weight: bolder;
  }
  &__form-job, &__form-resume {
    width: 50%;
    padding: 5px;
  }
  &__form-cl {
    margin: auto 5px 10px 5px;
  }
  &__followup {
    display: flex;
    margin-top: $marginBetweenEl;
  }
  &__show-hide--icon {
    background-color: $buttonAddBGColor !important;
    color: white !important;
    height: 30px !important;
    svg {
      font-size: $buttonIconSize;
    }
    &:hover svg {
      color: $iconColorHover;
    }
  }
  &__followup-ctrl {
    display: flex;
    justify-content: space-around;
    margin-bottom: $marginBetweenEl;
    a {
      box-sizing: unset;
      align-self: center;
      height: 30px;
    }
  }
  &__followup-list {
    text-align: left;
  }
  &__followup-item {
    padding: 5px 0;
    color: grey;
    &:hover {
      background-color: #d3d3d345;
      color: black;
    }
  }
  &__followup-date{
    display: flex;
    align-items: center;
    padding-left: $marginBetweenEl;
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      svg {
        color: $fadeRedColor;
        font-size: 20px;
        transition: transform .25s;
        &:hover {
          color: $redColor;
          transform: scale(1.25);
        }
      }
    }
  }
  &__followup-span {
    font-weight: bolder;
  }
  &__followup-text {
    margin-top: 5px;
    padding: 0 5px 0 20px;
  }
  &__followup-display, &__followup-list-input {
    width: 50%;
    padding: 5px;
  }
  &__followup-input {
    width: -webkit-fill-available;

    min-height: 60px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-size: 15px;
  }
  &__date {
    width: 145px;
    box-sizing: unset;
  }
  &__ctrl {
    width: 100%;
    text-align: right;
    margin: $marginBetweenEl 0;
  }
  &__button {
    margin-left: 5px !important;
  }
  &__message {
    @include displayFlex(center);
    color: $redColor;
    height: 40px;
    justify-content: center;
    margin-top: $marginBetweenEl;
  }
}

.table-applications {
  &__star--true {
    color: #ffc107;
    svg {
      font-size: 1.5rem;
      transition: transform .25s;
      &:hover {
        transform: scale(1.30);
      }
    }
  }
  &__star--false {
    color: lightgray;
    svg {
      font-size: 1.5rem;
      transition: transform .25s;
      &:hover {
        transform: scale(1.40);
      }
    }
  }
  &__row-job-title {
    display: flex;
    align-items: center;
    a {
      display: flex;
      align-items: center;
      margin-right: $marginBetweenEl;
      svg {
        font-size: 1.4rem;
        transition: transform .25s;
        color: $fadeRedColor;
        &:hover {
          transform: scale(1.25);
          color: $redColor;
        }
      }
    }
  }
}

.table-resume {
  &__table-row {
    display: flex !important;
    align-items: center;
    a:first-child {
      display: inherit;
      align-items: inherit;
      margin-right: 10px;
      svg {
        transition: transform .25s;
        font-size: 20px;
        color: $fadeRedColor;
      }
      svg:hover {
        transform: scale(1.25);
        color: $redColor;
      }
    }
    a:nth-child(2) {
      display: inherit;
      align-items: inherit;
      svg {
        margin-left: 5px;
        transition: transform .25s;
        font-size: 20px;
      }
      svg:hover {
        transform: scale(1.25);
      }
    }
  }
}

.about {
  &__div {
    margin-top: 5rem;
  }
  &__img {
    width: 180px;
    border-radius: 50%;
  }
  &__name {
    font-size: 1.8rem;
    margin-top: 1rem;
    font-weight: lighter;
  }
  &__title {
    font-size: 1.1rem;
    font-weight: bolder;
    margin-top: 0.5rem;
  }
  &__technologies, &__social-media {
    margin-top: 3rem;
    font-weight: lighter;
    div:first-child {
      font-size: 1.2rem;
    }
    div:nth-child(2) {
      margin-top: 1rem
    }
  }
  &__icons {
    display:flex;
    justify-content: center;
    align-items: center;
  }
  &__icon {
    width: 60px;
    margin: 10px;
  }
  &__icon-social-media {
    height: 20px;
    margin: 0 15px 10px 15px;
    transition: transform .25s;
    &:hover {
      transform: scale(1.80);
    }
  }
}

.MuiGrid-container {
  width: auto !important;
}

.MuiButtonBase-root { 
  &:hover div:first-child svg {
    color: $iconColorHover;
  }
}

.profile {
  @include displayFlex(center);
  flex-direction: column;
  width: 700px;
  padding: 40px;
  margin: auto;
  .MuiTextField-root {
    margin: 5px 0;
  }
  &__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  &__pic {
    @include displayFlex(center);
    height: 160px;
    width: 160px;
    border: 1px solid lightgrey;
    margin: $marginBetweenEl;
    svg {
      font-size: 100px;
    }
  }
  &__name-email-pic {
    @include displayFlex(center);
    margin-bottom: 20px;
  }
  &__name-email {
    @include displayFlex(center);
    flex-direction: column;
    align-items: flex-end;    
  }
  &__password {
    @include displayFlex(center);
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 20px; 
  }
  &__ctrl {
    display: flex;
    justify-content: flex-end;
  }
  &__message {
    @include displayFlex(center);
    color: $redColor;
    height: 40px;
    justify-content: center;
    margin-top: $marginBetweenEl;
  }
  &__input {
    width: 320px;
    margin-right: 5px !important;
  }
}