body {
  margin: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-login, .form-signup {
  text-align: center;
  width: 400px;
  margin: auto;
  padding: 20px
}

.form-input-login-signup {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  align-items: center;
}

.form-input-login-signup label {
  margin-right: 10px;
}

input {
  height: 20px;
  width: 200px;
  border-radius: 3px;
}
